$mobile-devices : 320px;
$ipads : 769px;
$small-screens : 1025px;
$big-screens: 1200px;
$extra-large-screens: 1400px;

@media only screen and (min-width:$mobile-devices) and (max-width:$ipads)
{
    .navbar{
        .navbar-top{
        display:none;
        } 
        .navbar-mid{
            height: 39px;
         .navbar-mid-size{
             #icon--adorama-logo{
                 width: 115px;
             }
             .tagline{
                 display: none;
             }
             .desktop_form{
                 display: none;
             }
             .mid-right .account{
                .icon--phone{
                    display: block;
                    height: 25px;
                    width: 25px;
                }  
                .icon--person{
                    height: 25px;
                    width: 25px;
                    margin: 0;
                }
                .icon--cart{
                    height: 25px;
                    width: 25px;
                }   
                .icon--arrow-down-small{
                    display: block;
                }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
             }
         }
        }
        .navbar-mid .navbar-mid-size .mid-right .account .sign_in{
            display: none;
        }
        .navbar-bottom{
            width: 100%;
            .desktop_form{
                display: block;
                max-width: none;
            }
            .navbar-bottom-size{
            display: none;
        }
        }
        
    }
    .mid .pre_owned{
        .normal{
            display: none;
        }
        .small{
            display: block;
        }
    }
    .mid .new_releases .hero-item-list, .mid .bestsellers .hero-item-list, .mid .justforyou .hero-item-list{
        padding: 10px;
    }
    .mid .video .hero-item-list .item-background{
        width: 278px;
    }
    .mid .video .hero-item-list button.owl-prev{
        left: -10px;
    }
    .mid .video .hero-item-list button.owl-next{
        right: -6px;
    }
    .mid .video .hero-item-list .item-new .new_text{
        p{
            font-size: 15px;
        }
    }
    .deal{
        flex-direction: column;
        background: transparent linear-gradient(0deg,#e0e0e0,#fff);
        .title-deal{
            
            padding: 20px 0;
            white-space: nowrap;
            h1{
                font-size: 25px;
                line-height: 43px;
            }
            p{
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 3px;
            }
        }
        .image-wrap-deal{
            padding: 10px;
            margin: 0;
            width: 90%;
            .deal-data{
                .deal-title{
                    a{
                        font-size: 11px;
                    }
            }
            }
            
        }
    }
   .promo_banner{
       flex-direction: column;
       .live_in_wild, .wedding_season{
           width: 100%;
           padding: 15px;
       }
   }
   .hero{
    .owl-normal{
        display: none;
       }
       .owl-small{
        display: block;
       }
   
   }
   .mid{
       
       margin-top: 250px;
       .categories 
       {    padding-top: 0;
            padding-bottom:18px;
            h1{
                text-align: left;
                padding-left: 10px;
            }
           .grid{
           flex-wrap: nowrap;
           a{
               .image_categories{
                width: 90px;
                height: 90px;
               }
               img{
                   height: 60px;
                   width: 60px;
               }
           }
       }
       }
       .sale{
           grid-template-columns: none;
           .box{
               display: grid;
               grid-template-columns: 1fr 1fr;
               
           }
       }
       .featured_brands{
           padding: 15px;
           .title{
               display: flex;
               flex-direction: column;
               h2{
                   font-size: 30px;
               }
           }
           .hero-item-list{
               .item-background{
                   width: auto;
                   height: 90px;
               }
           }
       }
       .video{
           padding: 15px;
           .title{
               display: flex;
               flex-direction: column;
               h2
               {
                font-size: 30px;
                line-height: 1;
                font-weight: 400;
               }
           }
       }
       .perks{
           display: flex;
           flex-direction: column;
           max-width: none;
           .item_perks{
               overflow: hidden;
               padding: 0 15px;
               .text_wrap_perks{
                h3{
                    font-size: 21px;
                    font-weight: 400;
                  }
                  p{
                    font-size: 13px;
                    line-height: 1.5;
                  }
                  
               }
               
           }
       }
       .news_reviews{
           .title{
               flex-direction: column;
           }
          .hero-item-list
          {
              .item-background{
                  width: 275px;
              } 
              button.owl-next{
                  right:-15px;
              }
              button.owl-prev{
                left:-13px;
            }
          }
       }
        

   }
   .mid .featured_brands .hero-item-list .item-new .new_item_img img{
       left: 50%;
   }
   .mid .featured_brands .hero-item-list .item-new .new_item_img .nikon{
       width: 20%;
   }
   .new_releases,.bestsellers,.justforyou{
    .owl-carousel .owl-item img{
           width: 60%;
       }
   }
   .company-motto h1, .company-motto h2{
       font-size: 20px;
   }
   .footer .footer-promo{
       padding:20px 45px;
       font-size: 14px;
       line-height: 1.5;
   }
   .footer .footer-connect .footer-size a{
       font-size: 14px;
   }
   .footer .footer-contact {
       display: flex;
       flex-direction: column-reverse;
       .connect{
           display: flex;
           flex-direction: column-reverse;
       }
       .blog{
       display: none;
        }
        
   }
   .footer .footer-explore{
       padding: 0 11px;
   }
   .footer .footer-explore .footer-size .explore-links{
       display: flex;
        flex-direction: column;
        text-align: center;
        h4{
            font-size: 16px;
            margin: 10px 0; 
        }
        a{
            font-size: 14px;
            padding-bottom: 3px;
            margin-bottom: 5px;
        }
    }
    .footer .footer-explore .footer-size .visit{
        display: flex;
        flex-direction: row;
        text-align: left;
        img{
            vertical-align: baseline;
            max-width: 100%;
            min-width: 100px;
        }
        .visit-info{
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            line-height: 1.5;
            p{
                font-size: 14px;
            }
        }
    }
    .footer .footer-explore .footer-size .observed img{
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-height: 50px;
    }
    .footer .footer-about .footer-size{
        padding: 15px;
    }
}
@media only screen and (min-width:$mobile-devices) and (max-width:800px)
{
    .mid{
        .categories 
       {    padding-top: 0;
            padding-bottom:18px;
            h1{
                text-align: left;
                padding-left: 10px;
            }
           .grid{
           flex-wrap: nowrap;
           a{
               .image_categories{
                width: 90px;
                height: 90px;
               }
               img{
                   height: 60px;
                   width: 60px;
               }
           }
       }
       }
    }
}

@media only screen and (min-width: 410px) and (max-width:545px)
{
    .mid{
        margin-top: 400px;
    }
}
@media only screen and (min-width: 545px) and (max-width:769px){
    .mid{
        margin-top: 626px;
    }
    
    // .news_reviews{
    //    .hero-item-list
    //    {
    //        .item-background{
    //            width: 275px;
    //        } 
    //        button.owl-next{
    //            right:-15px;
    //        }
    //        button.owl-prev{
    //          left:-13px;
    //      }
    //    }


}



@media only screen and (min-width: $ipads) and (max-width:$small-screens)
{   
    .navbar .navbar-bottom{
        display: none;
    }
    .navbar .navbar-top .navbar-top-size .right li{
        margin-left: 0;
    }
    .mid .categories .grid a{
        padding: 0;
    }
    .deal{
        flex-direction: column;
        
        .title-deal{
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }

    .promo_banner{
        padding:10px;
        height: auto;
    }
    .mid .categories{
        padding: 10px;
    }
    .mid .video .hero-item-list button.owl-next{
        right: -4px;
    }
    .mid .video .hero-item-list button.owl-prev{
        left: -6px;
    }
    .mid .news_reviews .hero-item-list button.owl-next{
        right: -4px;
    }
    .mid .news_reviews .hero-item-list button.owl-prev{
        left: -4px;
    }
    .mid .perks .item_perks .img_wrap_perks img{
        min-height: 220px;
    }
    .mid .perks .item_perks .text_wrap_perks{
        width: 75%;
    }
    .mid .featured_brands .hero-item-list .item-background{
        width: auto;
        height: 140px;
    }

    
}
@media only screen and (min-width: $ipads) and (max-width:$big-screens)
{
    .mid .categories .grid a .image_categories{
        width: 100px;
        height: 100px;
        img{
            width: 60px;
            height: 60px;
        }
    }
}
@media only screen and (min-width: $small-screens) and (max-width:$big-screens){
    .mid .new_releases .hero-item-list .item-new .new_item_img, .mid .bestsellers .hero-item-list .item-new .new_item_img, .mid .justforyou .hero-item-list .item-new .new_item_img{
        max-width: 55%;
    }
    .mid .video .hero-item-list button.owl-next{
        right: -4px;
    }
    .mid .video .hero-item-list button.owl-prev{
        left: -6px;
    }
    .mid .news_reviews .hero-item-list button.owl-next{
        right: -4px;
    }
    .mid .news_reviews .hero-item-list button.owl-prev{
        left: -4px;
    }
    .mid .featured_brands .hero-item-list .item-background{
        height: 133px;
    }
}
@media only screen and (min-width: $big-screens) and (max-width:$extra-large-screens)
{
    .mid .categories .grid a{
        padding: 10px;
    }
    .mid .video .hero-item-list button.owl-next{
        right: -4px;
    }
    .mid .video .hero-item-list button.owl-prev{
        left: -6px;
    }
    .mid .news_reviews .hero-item-list button.owl-next{
        right: -4px;
    }
    .mid .news_reviews .hero-item-list button.owl-prev{
        left: -4px;
    }
}




// @media only screen and (min-width: $extra-large-screens ) //desktop,large screens
// {

//     .navbar{
//         .navbar-top{
//             .navbar-top-size{
//                 //width: 100%;
//                 // .left{
//                 //     padding-left: 50px;
//                 // }
//                 // .right{
//                 //     padding-right: 70px;
//                 // }
//             }
//         }
//     }
    
    
// }
// @media only screen and (min-width: $big-screens) and (max-width: $extra-large-screens) //desktop,large screens
// {
//     .navbar-top-size{
//         width: 100%;
//     }
//     // .navbar .navbar-top .navbar-top-size a{
//     //     font-size: 20px;
//     // }
    
// }