$mobile-devices : 320px;
$ipads : 480px;
$small-screens : 769px;
$big-screens: 1025px;
$extra-large-screens: 1201px;

@media only screen and (min-width:$mobile-devices) and (max-width:$small-screens)
{
    .navbar{
        .navbar-top{
        display:none;
        } 
        .navbar-mid{
            height: 39px;
         .navbar-mid-size{
             #icon--adorama-logo{
                 width: 115px;
             }
             .tagline{
                 display: none;
             }
             .desktop_form{
                 display: none;
             }
         }
        }
    }
   .promo_banner{
       flex-direction: column;
       .live_in_wild, .wedding_season{
           width: 100%;
           padding: 15px;
       }
   }
   .mid{
       margin-top: 250px;
       .categories 
       {
           .grid{
           flex-wrap: nowrap;
           
           a{
               .image_categories{
                width: 90px;
                height: 90px;
               }
               img{
                   height: 60px;
                   width: 60px;
               }
           }
       }
       }
       .sale{
           grid-template-columns: none;
           .box{
               display: grid;
               grid-template-columns: 1fr 1fr;
               
           }
       }
       .featured_brands{
           padding: 15px;
           .title{
               display: flex;
               flex-direction: column;
               h2{
                   font-size: 30px;
               }
           }
           .hero-item-list{
               .item-background{
                   width: 90px;
                   height: 90px;
               }
           }
       }
       .video{
           padding: 15px;
           .title{
               display: flex;
               flex-direction: column;
               h2
               {
                font-size: 30px;
                line-height: 1;
                font-weight: 400;
               }
           }
       }
       .perks{
           display: flex;
           flex-direction: column;
           max-width: none;
           .item_perks{
               overflow: hidden;
               padding: 0 15px;
               .text_wrap_perks{
                h3{
                    font-size: 21px;
                    font-weight: 400;
                  }
                  p{
                    font-size: 13px;
                    line-height: 1.5;
                  }
                  
               }
               
           }
       }
       .news_reviews{
          .hero-item-list
          {
              .item-background{
                  width: 252px;
              } 
          }
       }
        

   }
   .company-motto h1, .company-motto h2{
       font-size: 20px;
   }
   .footer .footer-promo{
       padding:20px 45px;
       font-size: 14px;
       line-height: 1.5;
   }
   .footer .footer-connect .footer-size a{
       font-size: 14px;
   }
   .footer .footer-contact {
       display: flex;
       flex-direction: column-reverse;
       .connect{
           display: flex;
           flex-direction: column-reverse;
       }
       .blog{
       display: none;
        }
        
   }
   .footer .footer-explore{
       padding: 0 11px;
   }
   .footer .footer-explore .footer-size .explore-links{
       display: flex;
        flex-direction: column;
        text-align: center;
        h4{
            font-size: 16px;
            margin: 10px 0; 
        }
        a{
            font-size: 14px;
            padding-bottom: 3px;
            margin-bottom: 5px;
        }
    }
    .footer .footer-explore .footer-size .visit{
        display: flex;
        flex-direction: row;
        text-align: left;
        img{
            vertical-align: baseline;
            max-width: 100%;
            min-width: 100px;
        }
        .visit-info{
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            line-height: 1.5;
            p{
                font-size: 14px;
            }
        }
    }
    .footer .footer-explore .footer-size .observed img{
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-height: 50px;
    }
    .footer .footer-about .footer-size{
        padding: 15px;
    }
}






// @media only screen and (min-width: $extra-large-screens ) //desktop,large screens
// {

//     .navbar{
//         .navbar-top{
//             .navbar-top-size{
//                 //width: 100%;
//                 // .left{
//                 //     padding-left: 50px;
//                 // }
//                 // .right{
//                 //     padding-right: 70px;
//                 // }
//             }
//         }
//     }
    
    
// }
// @media only screen and (min-width: $big-screens) and (max-width: $extra-large-screens) //desktop,large screens
// {
//     .navbar-top-size{
//         width: 100%;
//     }
//     // .navbar .navbar-top .navbar-top-size a{
//     //     font-size: 20px;
//     // }
    
// }