//*{outline:1px solid #f00;}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css);
@import url(../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css);

$light-blue:#06c; 
$dark-blue:#003e7e;
$white: #FFFFFF;
$light-gray:#f3f3f3;
$gray: #757575;


*{
  font-family: 'Lato', sans-serif;
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.dropdown{
  position:relative;
  &:hover > ul{
    display: block !important;
  }
}


.navbar{
  width: 100%;
  ul{
    display: flex;
    flex-direction: row;
  }
  li{
    margin-right: 30px;
    list-style: none;
  }
  a{
    text-decoration: none;
    color: black;
  }

  .navbar-top{
    width: 100%;
    //align-items: center;
    display:flex;
    vertical-align: baseline;
    margin: 0 auto;
    max-width: 1400px;
    .navbar-top-size{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ul{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        //margin: 0 auto;
      }
      li{
        padding: 5px 0 5px 0px;
      }
      a{
        font-size: 12px;
        // padding: 8px 10px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: $light-blue;
        white-space: nowrap;
      }
      .dropdown--adorama-business-content{
        display: none;
        top: 30px;
        position: relative;
        z-index: 10;
        height: auto;
        box-shadow: 2px 4px 9px rgba(0,0,0,.329);
        border-radius: 5px;
        position: absolute;
        flex-direction: column;
        background-color: $white;
        width: 170px;
        li{
          width: 100%;
          line-height: normal;
          &:hover{
            background: $white;
            color: $light-blue;
            border-radius: 3px;
          }
        }
        a{
          text-transform: capitalize;
          color:$dark-blue;
          width: 100%;
          white-space: nowrap;
        }
      }
      .left{
        //padding-left: 70px;
      }
      .right{
        display: flex;
        justify-content: flex-end;
        li{
          margin-right: 5px;
          margin-left: 20px;
        }
        a{
          text-transform: capitalize;
        }
        .dropdown--adorama-business-content{
          right:5px;
        }
      }
    }
    
    
  }
  .navbar-mid
  {
    //max-width: 2600px;
    background-color: $dark-blue;
    height: 70px;
    color: $white; 
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .navbar-mid-size{
        margin: 0 auto;
        //padding-left: 170px;
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: row;
        #icon--adorama-logo{
        height: 100%;
        width: 200px;
        fill: $white;
        //padding-left: 12px;
        
      }
      ul{
        padding-left: 5px;
        
      }
      a{
        color:white;
      }
      .tagline{
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;
        align-self: flex-end;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .desktop_form{
        padding: 5px 5px;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 505px;
        height: 32px;
            .search_bar{
              width: 100%;
              position: relative;
              align-self: flex-end;
              .search_input{
                border: 1px solid;
                border-radius: 60px;
                width: 100%;
                height: 26px;
                line-height: normal;
                justify-content: center;
                align-items: center;
            }
            .submit_button{
              width: 18px;
              height: 18px;
              box-shadow: none;
              position: absolute;
              right: 12px;
              top: 4px;
              align-items: center;
                .icon--magnifier {
                  stroke: none;
                  color: $dark-blue;
                  width: 18px;
                  height: 18px;          
                  fill:currentColor;
                  background-color: white;
              }
            }      
          }
          ::placeholder{
            padding: 10px;
            font-size: 14px;
            opacity: 0.5;
          }
          
      }
      .mid-right{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin: auto 0;
     
        .account{
          display: flex;
            flex-direction: row;
            .icon--phone{
              display: none;
          }  
          .icon--arrow-down-small{
            display: none;
        }
          .dropdown{
            display: flex;
            flex-direction: row;
            margin: 0 10px;
            
            .dropdown--adorama-account{
            padding-left: 0;
            display: none;
            top: 30px;
            position: relative;
            z-index: 100;
            height: auto;
            box-shadow: 2px 4px 9px rgba(0,0,0,.329);
            border-radius: 5px;
            position: absolute;
            flex-direction: column;
            background-color: white;
            width: 170px;
            li{
              border-radius: 5px;
              margin: 5px auto;
              height: 30px;
              width: 90%;
              line-height: normal;
              align-items: center;
              justify-content: center;
              &:hover{
                background: $light-gray;
                color: $light-blue;
                border-radius: 3px;
              }
            }
            a{
              display:block;
              //margin: 10px auto;
              text-transform: capitalize;
              color:$dark-blue;
              width: 100%;
              white-space: nowrap;
              font-size: 12px;
              padding: 10px;
              //padding: 10px 10px;
              //text-align: center;
              
            }
            .log_in{
              background: transparent linear-gradient(180deg,#197adb 0%,#06c 53%,#005dba 100%) 0% 0% no-repeat padding-box;
              text-align: center;
              border-radius: 5px;
              color:white;
              font-weight: 650px;
            }
            .create_account{
              text-align: center;
              color: $light-blue;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          }
          
          .sign_in{
            
            padding-left: 10px;
            .my_account{
              display: flex;
              flex-direction: row;
              .myacc{
                font-size: 14px;
                flex-wrap: nowrap;
              }
              p{
                font-size: 12px; 
              }
            }
            
          }
        }
      }
    }

    
  }
  .navbar-bottom{
   
    
    background-color: $dark-blue;
    border-top: 1px solid lightgray;
    border-style: groove;
   
    .desktop_form{
      display: none;
      padding: 5px 5px;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 505px;
      height: 32px;
          .search_bar{
            width: 100%;
            position: relative;
            align-self: flex-end;
            .search_input{
              border: 1px solid;
              border-radius: 60px;
              width: 100%;
              height: 26px;
              line-height: normal;
              justify-content: center;
              align-items: center;
          }
          .submit_button{
            width: 18px;
            height: 18px;
            box-shadow: none;
            position: absolute;
            right: 12px;
            top: 4px;
            align-items: center;
              .icon--magnifier {
                stroke: none;
                color: $dark-blue;
                width: 18px;
                height: 18px;          
                fill:currentColor;
                background-color: white;
            }
          }      
        }
        ::placeholder{
          padding: 10px;
          font-size: 14px;
          opacity: 0.5;
        }
        
    }
    height: 35px;
    .navbar-bottom-size{
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex: row;
      padding: 0 15px;
      justify-content: space-between; 
      a{
        color:white;
        text-transform: capitalize;
        font-size: 13px;
        white-space: nowrap;
        
        
      }
      .bottom-left{
        width: 100%;
        padding:5px 0 0 0;
      }
      .bottom-right{
        justify-content: flex-end;
        height: 35px;
     
        li{
          margin-right: 0;
          margin-left: 25px;
          height: inherit;
          display: flex;
          align-items: center;
          &:hover{
            border-top: 2px solid white;
          }
          a{
            text-align: right;
          }
        }
      }
    }
    
  }
}
.hero{
  display: block;
  max-width: 1400px;
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
  .owl-small{
    display: none;
  }
  .owl-dots{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left:0;
    display: block;
    border:0px solid black;
    // &:hover{
    //   display:block;
    // }
    span{
      color:white;
    }
  }
  .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 0;
    display: block !important;
    border:0px solid black;
    span{
      color:white;
    }
    // &:hover{
    //   display:block;
    // }
    }
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
}
.deal{
  background-color: $light-gray;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  .title-deal{
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
      font-size: 48px;
      font-weight: 400;
      line-height: 57px;
      margin: 0;
    }
    p{
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      line-height: 25px;
      opacity: .68;
      letter-spacing: .67px;
      padding: 0 2px;
      margin-bottom: 5px;
    }
  }
  .image-wrap-deal img{
    width: auto;
    max-height: 90px;
    height: 90px;
  }
}


.promo_banner{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1400px;
  //width: 72.5%;
  height: 400px;
  margin-bottom: 100px;
  .live_in_wild, .wedding_season{
    
    width: 50%;
    h3{
      font-weight: 50;
    }
    p{
      font-size: 12px;
      vertical-align: baseline;
    }
  }
 .live_in_wild{
    padding-right: 10px;
 }
 .wedding_season{
    padding-left: 10px;
 }
  img{
    width: 100%;
  }
  a{
    text-decoration: none;
    font-size: 12px;
  }
}
.mid{
  background-color:$light-gray;
    .categories{
    width: 100%;
    height: calc(100%+50px);
    margin: 100px 0 0 0;
    padding-bottom: 50px;
    padding-top: 50px;
    h1{
      font-size: 28px;
      padding: 25px 0;
      font-weight: 400;
      text-align: center;
    }
    .grid{
      max-width: 1400px; 
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      overflow-x: auto;
      a{
        vertical-align: baseline;
        padding: 20px;
        text-decoration: none;
        flex: 0 1 calc(14% - 8px);
        flex-flow: row wrap;
        position: relative;
        font-size: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        h4{
          padding-top: 20px;
          font-weight: 200;
          font-size: 18px;
          color:$light-blue;
        }
        .image_categories{
          
          background-color: white;
          border-radius: 50%;
          width: 150px;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img{
          width: 90px;
          height: 90px;
          
        }
      }
    }
  }
  .pre_owned{
    max-width: 1400px;
    margin-top: 50px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
  .sale{
    max-width: 1400px;
    padding-top: 5px;
    padding-bottom: 50px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
      img{
        width: 100%;
        padding: 5px;
        object-fit: cover;
        }
      .caption{
        padding-left: 5px;
        width: 85%;
        h1{
          font-weight: 500;
          font-size: 22px;
        }
        p{
          font-size: 12px;
          float: left;
        }
        .shop-now{
          
          padding: 30px 0;
          text-decoration: none;
          font-size: 12px;
        }
        }
        
        .box{
          display: flex;
          flex-direction: column;
        }
  }
  .new_releases,.bestsellers,.justforyou{
    width: 100%;
    padding-left: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
    .owl-prev {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 40%;
      margin-left: -20px;
      display: block;
      border:0px solid black;
      &:hover{
        display:block;
      }
    }
    .owl-next {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 40%;
      right: -25px;
      display: block !important;
      border:0px solid black;
      &:hover{
        display:block;
      }
    }
    .owl-prev i, .owl-next i 
    {
      transform : scale(1,6); color: #ccc;
    }
    h2{
      font-size: 22px;
      font-weight: 300;
      padding-bottom: 15px;
    }
    .hero-item-list{
      display: block;
      max-width: 1400px;
      width: 100%;
      height: auto;
      padding: 20px 0;
      margin-right: auto;
      margin-left: auto;
      .item-background
      {
        background-color: white;
        width: 100%;
        height: auto;
        min-height: 300px;
      }
      .item-new{
        padding: 10px 0 0 10px;
        .new_item_img{
          max-width: 70%;
          margin: 0 auto;
          padding-top: 8px;
        }
        a{
          text-decoration: none;
          color:$light-blue;
          text-align: left;
          margin: 3px 0 0 0;
          left: 10px;
          font-size: 11px;
          display: block;
        }
        .review{
          display: inline-block;
          height: 14px;
          width: 120px;
          background-repeat: no-repeat;
          position: relative;
          top: -2px;
          padding-right: 12px;
          margin-right: 6px;
          overflow:hidden;
          background-image: url(../../dist/img/reviews.png);
          margin-top: 30px;
        }
        .star_0{
          background-position: 0 -1px;
        }
        .star_05{
          background-position: 0 -20px;
        }
        .star_1{
          background-position: 0 -37px;
        }
        .star_15{
          background-position: 0 -54px;
        }
        .star_2{
          background-position: 0 -70px;
        }
        .star_25{
          background-position: 0 -89px;
        }
        .star_3{
          background-position: 0 -108px;
        }
        .star_35{
          background-position: 0 -125px;
        }
        .star_4{
          background-position: 0 -142px;
        }
        .star_45{
          background-position: 0 -159px;
        }
        .star_5{
          background-position: 0 -177px;
        }
        .rating{
          font-size: 10px;
          padding-left: 80px;
        }
        .price{
          color:black;
          font-size: 15px;
          
        }
        .price_scratched{
          text-decoration: line-through;
          text-decoration-color:red;
          color:red;
        }
        .new_arrival{
          color: black;
          font-weight: 100;
          line-height: 2;
          font-size: 12px;
        }
      }
    }
  }
  .perks{
    display: grid;
    max-width: 1400px;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    p,a,span{
      color:white;
   
    }
    h3{
      font-size: 30px;
      font-weight: 100;
    }
    .item_perks{
     position: relative;
     display: grid;
     grid-template-columns: 50% 50%;
      .text_wrap_perks{
        background: linear-gradient(to right,#222, 60%, transparent 100%);
        width: 50%;
        position:absolute;
        padding: 30px 0 30px 20px;
        height: 100%;
        line-height: 1.5;
        .text-link{
          text-decoration: underline;
        }
        }
        .img_wrap_perks{
          
          img{
            // height: 100%;
            // width: 100%;
            object-fit: cover;
            object-position: right;
            min-height: 294px;
            width: 200%;
            height: 100%;
            
          }
          

        }
    }
    
  }
  .featured_brands{
    padding: 40px 15px 5px 15px;
    max-width: 1400px;
    margin: 0 auto;
    .title{
      display: flex;
      justify-content: space-between;
      h2{
      font-weight: 300;
      font-size: 30px;
      }
      a{
        font-size: 14px;
        text-decoration: none;
        vertical-align: baseline;
        padding-top: 11px;
      }
    }
   
    .hero-item-list{
      display: block;
      max-width: 1400px;
      width: 100%;
      height: auto;
      padding: 20px 0 0 0;
      margin-right: auto;
      margin-left: auto;
      .item-background
      {
        background-color: white;
        width: 170px;
        height: 170px;
        justify-content: center;
        align-items: center;
      }
      .item-new{
        .new_item_img{
          align-items: center;
          justify-content: center;
          margin: 20px;
          img{
            position: absolute;
            top:50%;
            left:54%;
            width: 70%;
            transform: translate(-50%, -50%);
            
          }
          .nikon{
            width: 40%;
          }
        }
      }
      button.owl-prev {
       
        position: absolute;
        top: 26%;
        left:-30px;
        display: block;
        border:0px solid black;
        
        span{
        background: transparent radial-gradient(closest-side at 39% 36%,#fff 0%,#fefefe 42%,#f7f7f7 100%) 0% 0% no-repeat padding-box;
        box-shadow: 1px 2px 3px #0000003d;
        transform: translateY(-36px);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 50px;
        }
      }
      button.owl-next {
        
        position: absolute;
        top: 26%;
        right: -30px;
        display: block !important;
        border:0px solid black;
        span{
          background: transparent radial-gradient(closest-side at 39% 36%,#fff 0%,#fefefe 42%,#f7f7f7 100%) 0% 0% no-repeat padding-box;
          box-shadow: 1px 2px 3px #0000003d;
          transform: translateY(-36px);
          border-radius: 50%;
          width: 40px;
          height: 40px;
  
          font-size: 50px;
        }
        // &:hover{
        //   display:block;
        // }
        }
    }
  }
  .video{
    padding: 40px 15px 5px 15px;
    max-width: 1400px;
    margin: 0 auto;
    .title{
      display: flex;
      justify-content: space-between;
      h2{
      font-weight: 300;
      font-size: 30px;
      }
      a{
        font-size: 14px;
        text-decoration: none;
        vertical-align: baseline;
        padding-top: 11px;
      }
    }
    
    .hero-item-list{
      display: block;
      max-width: 1400px;
      width: 100%;
      height: auto;
      padding: 20px 0 0 0;
      margin-right: auto;
      margin-left: auto;
      .item-background
      {
        background-color: white;
        width: 340px;
        
        justify-content: center;
        align-items: center;
        
      }
      .item-new{
        
        .new_item_img{
          position: relative;
          align-items: center;
          justify-content: center;
          img{
            
            width: 100%;
          }
          span{
            position: absolute;
            bottom: 0;
          }
        }
        .new_text{
          padding: 15px;
          font-size: 18px;
          min-height: 110px;
        }
      }
      button.owl-prev {
       
        position: absolute;
        top: 26%;
        left:-30px;
        display: block;
        border:0px solid black;
        
        span{
        background: transparent radial-gradient(closest-side at 39% 36%,#fff 0%,#fefefe 42%,#f7f7f7 100%) 0% 0% no-repeat padding-box;
        box-shadow: 1px 2px 3px #0000003d;
        transform: translateY(-36px);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 50px;
        }
      }
      button.owl-next {
        
        position: absolute;
        top: 26%;
        right: -30px;
        display: block !important;
        border:0px solid black;
        span{
          background: transparent radial-gradient(closest-side at 39% 36%,#fff 0%,#fefefe 42%,#f7f7f7 100%) 0% 0% no-repeat padding-box;
          box-shadow: 1px 2px 3px #0000003d;
          transform: translateY(-36px);
          border-radius: 50%;
          width: 40px;
          height: 40px;
  
          font-size: 50px;
        }
        // &:hover{
        //   display:block;
        // }
        }
    }
  }
  .news_reviews{
    padding: 40px 15px 5px 15px;
    max-width: 1400px;
    margin: 0 auto;
    .title{
      display: flex;
      justify-content: space-between;
      h2{
      font-weight: 300;
      font-size: 30px;
      }
      a{
        font-size: 14px;
        text-decoration: none;
        vertical-align: baseline;
        padding-top: 11px;
      }
    }
    
    .hero-item-list{
      display: block;
      max-width: 1400px;
      width: 100%;
      height: auto;
      padding: 20px 0 0 0;
      margin-right: auto;
      margin-left: auto;
      .item-background
      {
        background-color: white;
        width: 340px;
        
        justify-content: center;
        align-items: center;
        
      }
      .item-new{
        
        .new_item_img{
          position: relative;
          align-items: center;
          justify-content: center;
          img{
            
            width: 100%;
          }
          
        }
        .new_text{
          padding: 15px;
          font-size: 18px;
          min-height: 110px;
        }
      }
      button.owl-prev {
       
        position: absolute;
        top: 26%;
        left:-30px;
        display: block;
        border:0px solid black;
        
        span{
        background: transparent radial-gradient(closest-side at 39% 36%,#fff 0%,#fefefe 42%,#f7f7f7 100%) 0% 0% no-repeat padding-box;
        box-shadow: 1px 2px 3px #0000003d;
        transform: translateY(-36px);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 50px;
        }
      }
      button.owl-next {
        
        position: absolute;
        top: 26%;
        right: -30px;
        display: block !important;
        border:0px solid black;
        span{
          background: transparent radial-gradient(closest-side at 39% 36%,#fff 0%,#fefefe 42%,#f7f7f7 100%) 0% 0% no-repeat padding-box;
          box-shadow: 1px 2px 3px #0000003d;
          transform: translateY(-36px);
          border-radius: 50%;
          width: 40px;
          height: 40px;
  
          font-size: 50px;
        }
        // &:hover{
        //   display:block;
        // }
        }
      }

  }
}
.company-motto{
  padding: 72px 20px;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  
  h1,h2{
    font-weight: 400;
    font-size: 30px;
    margin: 0 auto 10px;
  }
  p{
    line-height: 1.3;
    font-size: 14px;
    color:$gray ;
  }
  a{
    text-decoration: none;
  }
  .bottom-motto{
    padding-top: 30px;
  }
}
.footer{
  .footer-size{
    max-width: 1400px;
    margin: 0 auto;
  }
  .footer-promo{
    background-color: $dark-blue;
    color:white;
    text-align: center;
    font-size: 18px;
    padding: 40px 0;
    a{
      color:white;
    }
  }
  .footer-connect{
    width: 100%;
    padding: 40px 0;
    background-color: $light-gray;
    .footer-size{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      a{
        text-align: center;
        text-decoration: none;
        color:black;
        font-size: 24px;
      }
    }
  }
  .footer-contact{
    background-color:$white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 40px 0 80px;
    .connect, .blog, .newsletter{
     
      .footer-title{
        h4{
          padding: 20px;
          
        }
        a{
          color:$light-blue;
          text-decoration: none;
        }
      }
      h4{
        font-weight: 700;
      }
    }

    .connect{
      .sosmed{
        padding-top: 20px;
        .footer-connect-social{
          .footer-social-links{
            i{
              color:#798794;
              padding: 15px;
              font-size: 30px;
            }
          }
        }
      }
    }
    .blog{
      .footer-blog-latest{
        padding-top: 15px;
      }
    }
    .newsletter{
      .footer-email-signup  {
        padding-top: 15px;
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        input[type=email]{
          flex-basis: 70%;
          flex: 1;
          font-size: 16px;
          line-height: 1;
          height: 42px;
          border-radius: 4px 0 0 4px;
          border: 1px solid #798794;
          border-right: 0;
        }
        
        button{
          font-size: 16px;
          height: 42px;
          background: $dark-blue;
          color:$white;
          border-radius: 0 4px 4px 0;
          padding: 0 15px;
          margin: 0;
        }
      }
    }
  }
  .footer-explore{
    padding: 0 25px;
    background-color: $light-gray;
    .footer-size{
      .explore-links{
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        h4{
          padding: 10px 0;
          font-size: 21px;
          font-weight: 600;
        }
        a{
          text-decoration: none;
          font-size: 18px;
          color: $light-blue;
        }
        .more-services{
          padding-top: 30px;
        }
      }
      .explore-block{
        display: flex;
        flex-direction: column;
      }
      .visit{
        padding: 20px 0;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .observed{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        img{
          padding-left: 10px;
        }
        .trusted-site{
          width: 100px; 
          height: 41px; 
          display: inline-block; 
          background-image: url("https://cdn.ywxi.net/meter/adorama.com/202.svg?ts=1627955532492&l=en-US"); 
          background-size: contain; 
          background-position: center top; 
          background-repeat: no-repeat; 
          cursor: pointer;
        }
      }
    }
    
    
  }
  .footer-about{
    background-color: $dark-blue;
    color: $white;
    text-align: center;
    padding: 50px 0;
    line-height: 1.5;
    font-size: 14px;
    
    a{
      color: $white;
    }
  }


}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: inherit;
  color: inherit;
  text-decoration: none;
}


.icon--person {
    height: 30px;
    width: 30px;
    fill: #fff;
    stroke: none;
    align-items: center;
    margin: auto 0;
}
.icon--arrow-down {
  margin:auto 0;
  width: 10px;
  height: 9px;
  margin-left: 6px;
  color: inherit;
  fill: currentColor;
  stroke: none;
  opacity: .8;
  transition: transform 0s ease;
}
.icon--cart{
  height: 35px;
  width: 35px;
  fill: #fff;
  stroke: none;
}

.icon--phone, .icon--chat-bubble, .icon--info{
  width: 15px;
  height: 15px;
  margin-right: 3px;
  stroke: none;
  fill:currentColor;
  }
