// *{outline:1px solid #f00;}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: 'Lato', sans-serif;
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.dropdown{
  position:relative;
  &:hover > ul{
    display: block !important;
  }
}


.navbar{
  //max-width: 2600px;
  ul{
    display: flex;
    flex-direction: row;
  }
  li{
    margin-right: 30px;
    list-style: none;
  }
  a{
    text-decoration: none;
    color: black;
  }

  .navbar-top{
    width: 100%;
    align-items: center;
    display:flex;
    vertical-align: baseline;
    .navbar-top-size{
      width: 100%;
      padding-left: 90px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        ul{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
      }
      li{
        padding: 5px 0 5px 0px;
      }
      a{
        font-size: 12px;
        padding: 8px 10px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #06c;
        white-space: nowrap;
      }
      .dropdown--adorama-business-content{
        display: none;
        top: 30px;
        position: relative;
        z-index: 10;
        height: auto;
        box-shadow: 2px 4px 9px rgba(0,0,0,.329);
        border-radius: 5px;
        position: absolute;
        flex-direction: column;
        background-color: white;
        width: 170px;
        li{
          width: 100%;
          line-height: normal;
          &:hover{
            background: #f2f2f2;
            color: #06c;
            border-radius: 3px;
          }
        }
        a{
          text-transform: capitalize;
          color:#003e7e;
          width: 100%;
          white-space: nowrap;
        }
      }
      .right{
        justify-content: flex-end;
        padding-right: 25px;
        a{
          text-transform: capitalize;
        }
        .dropdown--adorama-business-content{
          right:5px;
        }
      }
    }
    
    
  }
  .navbar-mid
  {
    //max-width: 2600px;
    background-color: #003e7e;
    height: 70px;
    color: white; 
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .navbar-mid-size{
        margin: 0 auto;
        padding-left: 170px;
        width: 100%;
        display: flex;
        flex-direction: row;
        #icon--adorama-logo{
        height: 100%;
        width: 200px;
        fill: white;
        padding-left: 12px;
        
      }
      ul{
        padding-left: 110px;
        
      }
      a{
        color:white;
      }
      .tagline{
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;
        align-self: flex-end;
        text-transform: uppercase;
      }
      .desktop_form{
        padding: 5px 5px;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 505px;
        height: 32px;
            .search_bar{
              width: 100%;
              position: relative;
              align-self: flex-end;
              .search_input{
                border: 1px solid;
                border-radius: 60px;
                width: 100%;
                height: 26px;
                line-height: normal;
                justify-content: center;
                align-items: center;
            }
            .submit_button{
              width: 18px;
              height: 18px;
              box-shadow: none;
              position: absolute;
              right: 12px;
              top: 4px;
              align-items: center;
                .icon--magnifier {
                  stroke: none;
                  color: #004387;
                  width: 18px;
                  height: 18px;          
                  fill:currentColor;
                  background-color: white;
              }
            }      
          }
          ::placeholder{
            padding: 10px;
            font-size: 14px;
            opacity: 0.5;
          }
          
      }
      .mid-right{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 60%;
        margin: auto 0;
        padding-right: 70px;
        .account{
          display: flex;
            flex-direction: row;
          .dropdown{
            display: flex;
            flex-direction: row;
            margin: 0 10px;
            
            .dropdown--adorama-account{
            padding-left: 0;
            display: none;
            top: 30px;
            position: relative;
            z-index: 100;
            height: auto;
            box-shadow: 2px 4px 9px rgba(0,0,0,.329);
            border-radius: 5px;
            position: absolute;
            flex-direction: column;
            background-color: white;
            width: 170px;
            li{
              border-radius: 5px;
              margin: 5px auto;
              height: 30px;
              width: 90%;
              line-height: normal;
              align-items: center;
              justify-content: center;
              &:hover{
                background: #f2f2f2;
                color: #06c;
                border-radius: 3px;
              }
            }
            a{
              display:block;
              //margin: 10px auto;
              text-transform: capitalize;
              color:#003e7e;
              width: 100%;
              white-space: nowrap;
              font-size: 12px;
              padding: 10px;
              //padding: 10px 10px;
              //text-align: center;
              
            }
            .log_in{
              background: transparent linear-gradient(180deg,#197adb 0%,#06c 53%,#005dba 100%) 0% 0% no-repeat padding-box;
              text-align: center;
              border-radius: 5px;
              color:white;
              font-weight: 650px;
            }
            .create_account{
              text-align: center;
              color: #06c;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          }
          
          .sign_in{
            
            padding-left: 10px;
            .my_account{
              display: flex;
              flex-direction: row;
              .myacc{
                font-size: 14px;
                flex-wrap: nowrap;
              }
              p{
                font-size: 12px; 
              }
            }
            
          }
        }
      }
    }

    
  }
  .navbar-bottom{
    display: flex;
    flex: row;
    background-color: #003e7e;
    border-top: 1px solid lightgray;
    border-style: groove;
    justify-content: space-between;
    height: 35px;
    a{
      color:white;
      text-transform: capitalize;
      font-size: 13px;
      white-space: nowrap;
      
      
    }
    .bottom-left{
      width: 40%;
      padding: 5px 0 5px 300px;
    }
    .bottom-right{
      justify-content: flex-end;
      height: 35px;
      padding-right: 255px;
      li{
        height: inherit;
        display: flex;
        align-items: center;
        &:hover{
          border-top: 2px solid white;
        }
        a{
          text-align: center;
        }
      }
    }
  }
}
.hero{
  display: block;
  max-width: 2600px;
  width: 70%;
  height: auto;
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
  
  .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left:0;
    display: block;
    border:0px solid black;
    // &:hover{
    //   display:block;
    // }
    span{
      color:white;
    }
    
  }
  .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 0;
    display: block !important;
    border:0px solid black;
    span{
      color:white;
    }
    // &:hover{
    //   display:block;
    // }
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
}



.promo_banner{
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1400px;
  width: 72.5%;
  height: 400px;
  padding: 10px;
  .live_in_wild, .wedding_season{
    padding: 10px;
    width: 50%;
    h3{
      font-weight: 50;
    }
    p{
      font-size: 12px;
      vertical-align: baseline;
    }
  }
 
  img{
    width: 100%;
  }
  a{
    text-decoration: none;
    font-size: 12px;
  }
}
.mid{
  background-color: #f3f3f3;
    .categories{
    width: 100%;
    height: calc(100%+50px);
    
    margin: 100px 0 0 0;
    h1{
      font-size: 28px;
      padding: 25px 0;
      font-weight: 400;
      text-align: center;
    }
    .grid{
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      overflow-x: auto;
      align-items: center;
      a{
        vertical-align: baseline;
        padding: 20px;
        text-decoration: none;
        flex: 1 0 14%;
        font-size: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        h4{
          padding-top: 20px;
          font-weight: 200;
        }
        .image_categories{
          
          background-color: white;
          border-radius: 50%;
          width: 150px;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img{
          width: 90px;
          height: 90px;
          
        }
      }
    }
  }
  .pre_owned{
    margin-top: 50px;
    img{
      width: 71%;
      display: block;
      margin: 0 auto;
    }
  }
  .sale{
    padding-top: 5px;
    padding-bottom: 50px;
    width: 71.5%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
      img{
        width: 100%;
        padding: 5px;
        object-fit: cover;
        }
      .caption{
        padding-left: 5px;
        width: 85%;
        h1{
          font-weight: 500;
          font-size: 22px;
        }
        p{
          font-size: 12px;
          float: left;
        }
        }
        a{
          padding-left: 5px;
          margin: 10px 0;
          text-decoration: none;
          font-size: 12px;
        }
        .box{
          display: flex;
          flex-direction: column;
        }
  }
  .new_releases{
    width: 71.5%;
    margin: 0 auto;
    .owl-prev {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 40%;
      margin-left: -20px;
      display: block;
      border:0px solid black;
      &:hover{
        display:block;
      }
  }
  
  .owl-next {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 40%;
      right: -25px;
      display: block !important;
      border:0px solid black;
      &:hover{
        display:block;
      }
  }
  .owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
    h2{
      font-size: 22px;
      font-weight: 300;
      padding-bottom: 30px;
    }
  }
}


.icon--person {
    height: 30px;
    width: 30px;
    fill: #fff;
    stroke: none;
    align-items: center;
    margin: auto 0;
}
.icon--arrow-down {
  margin:auto 0;
  width: 10px;
  height: 9px;
  margin-left: 6px;
  color: inherit;
  fill: #fff;
  stroke: none;
  opacity: .8;
  transition: transform 0s ease;
}
.icon--cart{
  height: 35px;
  width: 35px;
  fill: #fff;
  stroke: none;
}

.icon--phone, .icon--chat-bubble, .icon--info{
  width: 15px;
  height: 15px;
  margin-right: 3px;
  stroke: none;
  fill:currentColor;
  }
