*{outline:1px solid #f00;}
.navbar{
 
  .icon{
    width: 17px;
    background-image: url(../../dist/img/icon.png);
    
  }
  ul{
    display: flex;
    flex-direction: row;
    
  }
  li{
    margin-right: 30px;
    list-style: none;
   
  }
  a{
    text-decoration: none;
    color: black;
  }
}

.test{
  // background: url(apple.png);
}